.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    text-decoration: none;
    border: 2px solid gray;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    display: block;
}

.header__nav-ul {
    margin: 0 auto;
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item :hover {
    color: #458ff6;
    text-decoration: underline;
}